
		header {
			background-color: #033048;
			float: left;
			font-size: 24px;
			font-weight: 600;
			text-align: left;
			width: 100%;
		}

		header h1 {
			color: white;
			float: left;
			padding: 20px;
			width: 240px;
		}

		header a {
			color: #f9e42e;
			font-size: 24px;
			font-weight: 600;
			padding: 5px 7px;
		}

		nav {
			display: block;
			float: left;
			padding: 20px;
			width: 700px;
		}

		header a:link {
    		color: #f9e42e;
		}

		header a:visited {
    		color: #f9e42e;
		}

		header a:hover {
    		color: white;
  		}

		header a:active {
    		color: white;
		}

		ul {
    		list-style-type: none;
    		margin: 0;
    		padding: 0;
		}

		section {
			background-color: #f0efef;
			color: #606161;
			float:left;		
			width: 100%;
		}

		#blog-posts {
			background-color: #f0efef;
			color: #033048;
			float: left;
			font-size: 13px;
			font-weight: 300;
			margin-left: 20px;
			text-align: left;
			width: 700px;
		}

		#blog-posts h2 {
			font-size: 40px;
			font-weight: 600px;
			padding: 10px;
		}

		#blog-posts p {
			color: #606161;
			font-size: 24px;
			font-weight: 300;
			padding: 10px 10px 0px 0px;
		}

		#blog-posts p:first-letter { 
			float: left; 
			color: #033048; 
			font-size: 75px; 
			line-height: 60px; 
			padding: 4px 8px 0px 3px; 
			font-family: "Times New Roman", Times, Serif; 
		}

		#blog-posts a {
			font-size: 24px;
			font-weight: 600;
			margin-top: 10px;
			padding-left: 100px;
			text-align: right;
		}

		#blog-posts a:link {
    		color: #033048;
		}
		
		#blog-posts a:visited {
    		color: #033048;
		}

		#blog-posts a:hover {
    		color: green;
		}
		
		#blog-posts a:active {
    		color: green;
		}

		#blog-posts hr {
			margin-bottom: 20px;
		}

		.read-more {
			float:left;
			margin-bottom: 20px;
			text-align: right;
			width: 100%;
		}

		#sidebar {
			background-color: #f0efef;
			float: left;
			margin-left: 20px;
			width: 240px;
			text-align: left;
		}

		#sidebar h3 {
			color: #033048;
			font-size: 32px;
			font-weight: 800;
			padding: 20px 20px 20px 0px;
		}

		#sidebar a {
			font-size: 24px;
			font-weight: 300;
			margin: 0;
			padding: 0;
		}

		#sidebar a:link {
    		color: #033048;
		}
		
		#sidebar a:visited {
    		color: #033048;
		}

		#sidebar a:hover {
    		color: green;
		}

		#sidebar a:active {
    		color: green;
		}

		#sidebar ul li {
			margin: 10px 10px 0px 0px;
		}

		#sidebar p {
			color: #033048;
			font-size: 22px;
			font-weight: 300;
			padding: 0;
		}

		#sidebar p a {
			font-size: 22px;
			font-weight: 600;
		}

		#sidebar img {
			padding-top: 20px;
		}

		#signup {
			background-color:#f9e42e;
			clear:both;
			color:white;
			padding: 20px;
		}

		footer {
			background-color:#121212;
			font-size:9px;
			width:100%;
		}

		footer div p {
			width: 10%;
    		margin: 0 auto;
    		padding: 30px;
		}

		footer h5 {
			color:#f9e42e; 
    		font-weight:800; 
    		font-size:24px;
    		padding: 30px;
    		width: 10%;
    		margin: 0% auto;
		}

		footer h6 {
			color: white;
			padding: 30px;
			width: 10%;
			margin: 0% auto;
		}

		footer ul {
			width: 10%;
    		margin: 0 auto;
    		overflow: hidden;
		}

		footer li {
    		float: left;

		}

		footer li a {
    		display: block;
    		padding: 8px;

		}

		.alignleft {
			text-align:left;

		}

		.yellowbutton {
			background-color:#f9e42e;
			border-radius:5px;
			padding:5px 30px;
		}

		.bluebutton {
			background-color:#033048;
			border-radius:5px;
			padding:5px 30px;
			color: white;
			font-size: 12px;
			font-weight: 800; 
		}

		.floatright {
			float: right;
		}

		body {
     		font-size: 12px;
     		font-family: 'Open Sans', sans-serif;
     		text-align:center;

		}

		a {
			font-size:14px;
			text-decoration:none;
		}

