		header {
			background-image:url("images/header_bg.jpg");
			background-repeat:no-repeat;
    		background-size:cover;
			font-size:24px;
			color:white;
			padding-bottom:25%;
			
		}

		#benefits {
			float:left;
			width:100%;
			color: #606161;
			background-color:#f0efef;
		}	

	
		#benefits1 {
			float:left;
			width:50%;
			background-color:#f0efef;
			text-align:left;
			font-size:13px;	
			font-weight: 300;	
		}

		#benefits1 p {
			padding:10px;
		} 

		ul {
			padding:10px 20px 10px 20px;
			list-style-type: disc;
			list-style-position: inside;
		}

		ul li {
			padding:2px;
		}

		ul.nobullets {
			list-style-position: none;
		}

		#benefits2 {
			float:left;
			width:50%;
			background-color:#f0efef;
			text-align:center;
			font-size:20px;
		}
	

		#benefits2 p {
			padding:5% 20% 5% 20%;
		}

		#benefits2 p.difffont span {
			color:#033048;
			font-size:24px;
			font-weight:800;
		}

		#testimonial {
			font-size:18px;
			font-weight:600;
			color:white;
			background-image:url("images/testimonial_bg.jpg");
			background-repeat:no-repeat;
    		background-size:cover;
			clear:both;
			padding: 5% 30%;
		}

		#testimonial p {
			padding:0%;

		}

		#signup {
			background-color:#f9e42e;
			color:white;
			padding: 20px;
		}


		footer {
			background-color:#121212;
			font-size:9px;

		}

		footer div p {	
			width: 10%;
    		margin: 0 auto;
		}

		footer ul {
			width: 10%;
    		margin: 0 auto;
    		overflow:hidden;
		}

		.floatright {
			float:right;
		}

		footer li {
    		float: left;

		}

		footer li a {
    		display: block;
    		padding: 8px;
    	
		}

		
		a {
			font-size:14px;
			text-decoration:none;
			border-radius:5px;
			padding:5px 30px;
		}

		p {
			padding:30px;
		}
		
		._9font {
			font-size: 9px;
		}

		._12font {
			font-size: 12px;
		}

		._13font {
			font-size: 13px;
		}	

		._20font {
			font-size: 20px;
		}	

		._24font {
			font-size: 24px;
		}

		.lightfont{
			font-weight: 300;
		}

		.light_ital{
			font-weight: 300;
			font-style: italic;
		}

		.semibold {
			font-weight: 600;
		}

		.extrabold {
			font-weight: 800;
		}		

		.whitefont {
			color:white;
		}

		.bluefont {
			color:#033048;
		}		

		.yellowfont {
			color:#f9e42e;
		}

		
		.alignleft {
			text-align:left;

		}
	
		.yellowbutton {
			background-color:#f9e42e; 					
		}

		.bluebutton {
			background-color:#033048;
		}

		.nobullets {
			list-style-type: none;
		}
		
				
		body {
     			font-size: 12px;     			
     			font-family: 'Open Sans', sans-serif; 
     			text-align:center;
      			
		}